<div class="ui inverted page grid masthead segment">
    <div class="column">
        <div class="inverted secondary pointing ui menu">
            <div class="header item"><a href="{{ path('acme_handmade_homepage') }}"><i class="home icon"></i>HandMade</a></div>
            <div class="right menu">
                {% for item in items %}
                    <a class="item" href="{{ path('category_show', {'slug': item.slug}) }}">{{ item.name }}</a>
                {% endfor %}

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="ui pointing dropdown link item">
                        <i class="icon user"></i>
                        <div class="menu ui transition hidden">
                            <div class="item">Здравствуйте {{ app.user.username }}</div>
                            <a class="item" href="{{ path('fos_user_profile_show') }}"><i class="icon user"></i> {{ 'menu.profile.show'|trans({}, 'messages') }}</a>
                            <a class="item" href="{{ path('fos_user_profile_edit') }}"><i class="icon wrench"></i> {{ 'menu.profile.edit'|trans({}, 'messages') }}</a>
                            <a class="item" href="{{ path('fos_user_security_logout') }}"><i class="sign out icon"></i>Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a class="item" href="{{ path('fos_user_security_login') }}"><i class="sign in icon"></i></a>
                {% endif %}

                <a class="item" href="{{ path('cart') }}"><i class="cart icon"></i></a>
            </div>
        </div>
        <!--<img src="images/cat.png" class="ui medium image">-->
        <img src="{{ asset('bundles/acmehandmade/images/cat.png') }}" class="ui medium image">

        <div class="ui hidden transition information">
            <h1 class="ui inverted header">Творим с любовью!</h1>
            <p>Все оригинальные изделия, которые Вы здесь найдёте – это результат долгой и кропотливой ручной работы дизайнеров и мастеров, создающих поистине эксклюзивные вещи handmade.</p>
        </div>
    </div>
</div>