{% extends 'AcmeHandmadeBundle::base.html.twig' %}

{% block body -%}
    <div class="ui page grid overview segment">
        <div class="row">
            <div class="column">

                {#<h2 class="ui header">{{ entity.getCategory() }}</h2>#}
                <h1 class="aligned ui header">
                    <div class="content">{{ entity.name }}
                        <div class="sub header">Артикул: {{ entity.sku }}</div>
                    </div>
                </h1>
                {#<div class="ui horizontal divider"><i class="heart icon"></i></div>#}

                <div class="ui two column aligned stackable divided grid">
                    <div class="column center aligned">
                        <div class="ui images" style="margin-bottom: 10px;">
                            <img src="{{ asset( entity.getImagePath() ) }}" class="ui image ">
                        </div>

                        <div class="ui small images">
                            <img class="ui image" src="{{ asset( entity.getImagePath() ) }}">
                            <img class="ui image" src="{{ asset( entity.getImagePath() ) }}">
                            <img class="ui image" src="{{ asset( entity.getImagePath() ) }}">
                            <img class="ui image" src="{{ asset( entity.getImagePath() ) }}">
                        </div>
                    </div>

                    <div class="column">
                        <p><a class="ui teal right labeled icon button" href="#">{{ entity.price }}UAH <i class="right long cart icon"></i></a></p>
                        <p>{{ entity.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
