{% extends 'AcmeHandmadeBundle::base.html.twig' %}

{% block body -%}
    <div class="ui page grid overview segment">
        <div class="row">
            <div class="column">
                <h1 class="center aligned ui header">
                    <div class="content">{{ entity.name }}
                        <div class="sub header">{{ entity.description }}</div>
                    </div>

                </h1>
                <div class="ui horizontal divider"><i class="heart icon"></i></div>
            </div>
        </div>

        <div class="ui">
            {% for block in blocks %}
                <div class="ui four column center aligned stackable divided grid">
                    {% for product in block %}
                        <div class="column">
                            <div class="ui icon header">
                                <a href="{{ path('product_show', {'slug': product.slug}) }}" >
                                    <img src="{{ asset( product.getImagePath() ) }}" class="ui image ">
                                    {{ product.name }}
                                </a>
                            </div>
                            <p>{% include 'AcmeHandmadeBundle:Product:buy_button.html.twig' with {'product': product} %}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
